### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]
*$py.class
# virtual env
ContinuousIntegration/venv/

### IDE ###
# Pycharm #
.history/
.idea/

# VS Code #
.vscode/

### Specific files ###
BrawlStars/BrawlStars.csv



